/* Variables for quick configuration */
:root 
{
    --expanded-width: 250px; /* Width to expand at */
    --collapsed-width: 50px; /* Width to collapse at */
    --transition-duration: 0.25s; /* Duration of the transition */
    --transistion-animation: ease-in-out; /* Animation of the transition */
    --background: #000000; /* Background color, fixes weird glitch when out of focus */
}

/* Auto-expand for experimental vertical tabs feature */
#sidebar-main 
{
    width: var(--collapsed-width) !important;
    transition: width var(--transition-duration) var(--transistion-animation) !important;
    background: var(--background) !important;
}

#sidebar-main:hover 
{
    width: var(--expanded-width) !important;
    background: var(--background) !important;
}

/* Move navigation buttons to beginning, switch them around. */
#forward-button
{
    order: -1;
}

#back-button 
{
    order: -2;
}

/* Hide the sidebar button */
#sidebar-button
{
    display: none;
}
